<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body>

    <div class="w-full min-h-screen bg-zinc-950 flex items-center justify-center px-5">

        <div class="w-full max-w-md bg-zinc-900 border border-zinc-800 rounded-3xl p-8 shadow-2xl">

            <h3 class="text-4xl font-bold text-center text-white">
                Login Account
            </h3>

            <p class="text-center text-zinc-400 mt-2 mb-8">
                Login to get Started
            </p>

            <form action="/login" method="post" class="space-y-5">

                <input
                    class="w-full bg-zinc-800 border border-zinc-700 rounded-xl px-4 py-3 text-white placeholder-zinc-500 outline-none focus:border-blue-500 transition"
                    type="email" name="email" placeholder="Email Address">

                <input
                    class="w-full bg-zinc-800 border border-zinc-700 rounded-xl px-4 py-3 text-white placeholder-zinc-500 outline-none focus:border-blue-500 transition"
                    type="password" name="password" placeholder="Password">

                <button
                    class="w-full bg-blue-600 hover:bg-blue-700 transition py-3 rounded-xl font-semibold cursor-pointer">

                    Login Account

                </button>

            </form>

            <p class="text-center text-zinc-400 mt-6">

                Don't have an account?

                <a href="/" class="text-blue-500 hover:text-blue-400 font-semibold">

                    Create Account

                </a>

            </p>

        </div>

    </div>

</body>

</html>